In [4]:
import pandas 
import numpy as np
df = pandas.read_csv('Xak.csv')
df

      Time  Mood  Reason  Category  Subcategory  Result(%)  User ID
0      187     1       2         5            2         88        1
1       99     1      23         6            1         92        1
2      269     1       7         4            3         71        1
3      158     1      15         5            4         81        1
4      236     1       3         3            2         76        1
...    ...   ...     ...       ...          ...        ...      ...
2995   283     3       8         2            2         10        3
2996   124     3       6         1            2          2        3
2997   158     3      13         3            1         21        3
2998   292     3       2         5            2         25        3
2999   286     3      12         1            1         19        3

[3000 rows x 7 columns]

In [5]:
df = df.drop('User ID', axis = 1)
df

      Time  Mood  Reason  Category  Subcategory  Result(%)
0      187     1       2         5            2         88
1       99     1      23         6            1         92
2      269     1       7         4            3         71
3      158     1      15         5            4         81
4      236     1       3         3            2         76
...    ...   ...     ...       ...          ...        ...
2995   283     3       8         2            2         10
2996   124     3       6         1            2          2
2997   158     3      13         3            1         21
2998   292     3       2         5            2         25
2999   286     3      12         1            1         19

[3000 rows x 6 columns]

In [6]:
df =df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
df

      Time  Mood  Reason  Category  Subcategory  Result(%)
0      187     1       2         5            2         88
1       99     1      23         6            1         92
2      269     1       7         4            3         71
3      158     1      15         5            4         81
4      236     1       3         3            2         76
...    ...   ...     ...       ...          ...        ...
2995   283     3       8         2            2         10
2996   124     3       6         1            2          2
2997   158     3      13         3            1         21
2998   292     3       2         5            2         25
2999   286     3      12         1            1         19

[3000 rows x 6 columns]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
from sklearn.model_selection import train_test_split

In [8]:
y= df['Subcategory']
y

0       2
1       1
2       3
3       4
4       2
       ..
2995    2
2996    2
2997    1
2998    2
2999    1
Name: Subcategory, Length: 3000, dtype: int64

In [9]:
X = df.drop('Subcategory', axis =1)
X

      Time  Mood  Reason  Category  Result(%)
0      187     1       2         5         88
1       99     1      23         6         92
2      269     1       7         4         71
3      158     1      15         5         81
4      236     1       3         3         76
...    ...   ...     ...       ...        ...
2995   283     3       8         2         10
2996   124     3       6         1          2
2997   158     3      13         3         21
2998   292     3       2         5         25
2999   286     3      12         1         19

[3000 rows x 5 columns]

In [35]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.20, random_state=42)

In [28]:
y_test

1801    2
1190    3
1817    2
251     3
2505    3
       ..
2468    4
2013    4
714     1
803     3
2008    4
Name: Subcategory, Length: 990, dtype: int64

In [29]:
X_train

      Time  Mood  Reason  Category  Result(%)
2761   184     3      21         6          7
123    130     1      11         5         78
1808   265     3       7         2         46
2286    60     2       5         4         17
2147   216     2      12         2         26
...    ...   ...     ...       ...        ...
1638   204     2      15         1         58
1095   289     1       9         5         53
1130   187     2      10         1         65
1294    80     2       5         5         65
860    142     1      14         2         71

[2010 rows x 5 columns]

In [30]:
y_train

2761    3
123     1
1808    3
2286    2
2147    4
       ..
1638    3
1095    3
1130    2
1294    3
860     3
Name: Subcategory, Length: 2010, dtype: int64

In [31]:
neigh.fit(X,y)

KNeighborsClassifier()

In [36]:
neigh.score(X_train, y_train)

0.525